<h1>My Blog</h1>
<div id="app">
  <!-- El componente Vue se montará aquí -->
  <mi-componente></mi-componente>
</div>
<%= form_tag(search_blog_posts_path, method: :get) do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search articles..." %>
  <%= submit_tag "Search" %>
<% end %>

<% @blog_posts.each do |blog_post| %>
  <div>
    <h2><%= link_to blog_post.title, blog_post_path(blog_post) %></h2>
    <%= blog_post.content %>
    
    <% if blog_post.image.present? %>
      <%= image_tag blog_post.image, alt: blog_post.title, style: "max-width: 100px; max-height: 100px;" %>
    <% end %>
    
    <br>
  </div>
<% end %>
<div class="pagination">
  <%= will_paginate @blog_posts %>
</div>